/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FONT FAMILIY */
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* BODY */
body {
    background-color: #141414;
    color: #fff;
}
/* HEADER */
.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    position: fixed;
    z-index: 1;
}
.navbar > .logoArea {
    height: 100%;
}
.navbar > .logoArea > a > img {
    height: 100%;
}
.navbar > .navArea {
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar > .personalArea {
    height: 100%;
    display: flex;
    align-items: center;
}
/* MAIN */
/* TRAILER AREA */
#trailerSec {
    background-color: #b81d24;
}
.trailerArea {
    width: 100%;
    position: relative;
}
.trailerArea > video {
    max-height: 80vh;
    width: 100%;
    object-fit: cover;
}
.trailerArea > .trailerInfo {
    max-width: 600px;
    padding: 1rem;
    background-color: #14141450;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 5%;
    right: 5%;
}
.trailerArea > .trailerInfo > img {
    width: 200px;
}
.trailerArea > .trailerInfo > h1,p {
    margin-bottom: 1rem;
}
.trailerInfo> #trailerPrgh{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
/* intermediateBox */
.intermediateBox {
    height: 79px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #b81d24;
}
/* FILM AREA */
.filmArea {
    width: 100%;
    padding: 1rem;
}
.filmArea > .filmList {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1rem;
}
.filmArea > .filmList > .filmBox {
    width: 256px;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0.5rem;
    position: relative;
}
.filmArea > .filmList > .filmBox > img {
    width: 100%;
    height: 144px;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-bottom: 0.5rem; 
    object-fit: cover;
}
.filmArea > .filmList > .filmBox > .filmInfo {
    margin: 0 0.5rem 0.5rem 0.5rem;
}
.filmArea > .filmList > .filmBox > .logoInBanner {
    width: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.filmArea > .filmList > .filmBox > .logoInBanner > img {
    width: 100%;
}
#filmName {
    font-size: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
#filmDescription {
    color: #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
#filmName,#filmDescription {
    margin-bottom: 0.5rem;
}
/* FOOTER AREA */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerArea {
    min-height: 256px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.socials {
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.linkArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerBox {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem 1rem 1rem 0;
    margin: 1rem 1rem 1rem 0;
}
.footerBox > a,h4{
    font-size: 0.9rem;
    color: #808080;
    margin-bottom: 0.5rem;
}
.footerBox > a:hover{
    text-decoration: underline;
}